# Platform dirs — not needed in repo
/android/
/ios/
/linux/
/macos/
/windows/
/web/
/test/

# IDE
.idea/
.vscode/
*.iml

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Misc
.DS_Store
*.log
.metadata
